header {
    background: url('grain.png') repeat scroll 0% 0% rgb(57, 76, 88);
    font-family: Palatino Linotype, Book Antiqua3, Palatino, serif;
    width: 100%;
}

h2 {
    color: white;
}

h2, h3 {
    font-family: Palatino Linotype, Book Antiqua3, Palatino, serif;
}

body {
    background: url('grain.png') repeat scroll 0% 0% rgb(222, 227, 230);
}

p, section {
    font-family: DroidSans, sans serif;
}

span.invalid, span.error, span.refunded {
    color: firebrick;
    font-weight: strong;
}

span.ok {
    color: green;
}

span.expired, span.pending {
    color: orange;
}

span.unknown {
    color: grey;
    font-weight: strong;

}

section {
    padding: 1em;
}

section #receipts-list span {
    font-weight: bold;
}

@font-face {
    font-family: DroidSans;
    src: url('DroidSans.ttf') format("truetype");
}

footer {
    border-top: 1px solid black;
    width: 100%;
}
